html {
    background-color: #ecebea;
}

.navbar-light {
    background: #a4afd6
}

nav {
    z-index: 1000;
}

a p {
    color: #333333;
    text-decoration: none;
}
a p:focus, a p:visited, a p:hover{
    text-decoration: underline;
}

a.btn-link {
    color: black;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2rem;
}

a.btn-link.active {
    color: #260990;
    text-decoration: none;
    font-weight:bold;
    font-size: 1.2rem;
}

a.btn-link:active, a.btn-link:hover, a.btn-link:focus  {
    color: black;
    font-weight:bold;
    text-decoration: none;
    font-size: 1.2rem;
}

a.active.btn-link:active, a.active.btn-link:hover, a.active.btn-link:focus  {
    color: #260990;
    font-weight:bold;
    text-decoration: none;
    font-size: 1.2rem;
}

.selection {
    background-color: #cbd4f4;
}

.element {
    background-color: #ecebea;
}

#spec_text {
    background-color: white;
    border: 2px solid orange;
}

#spec_text2  {
    background-color: white;
    border: 2px solid green;
}

#schedule_main {
    background-color: white;
    border: 2px solid black;
}

.btn-courses {
    border: 2px solid orange;
    color: black;
}

footer {
    background-color: #cbd4f4;
}

.text_about {
    background-color: white;
}

.notifications_list {
    height: 50px;
}

.no-m-p {
    margin:0px;
    padding:0px;
}

.groups_btn {
    border: 2px solid blue;
    color: black;
    background-color: white;
}

#card_of_groups {
    width: 95%;
}

.scrollable {
    height: auto;
    max-height: 30em;
    overflow-x: hidden;
}