html{
    font-size: 10px;
}

body {
    font-size: 16px;
    background-color:rgba(245,255,207,0.84);
    /*color: #757575;*/
}
.mylight{
    background: url("https://s3.amazonaws.com/spoonflower/public/design_thumbnails/0535/7026/rrrRainbowFlag_vertical_shop_preview.png");
}

a.nav-item.nav-link {
    font-size: 15px;
    font-weight: bold;
    color: #232323;
}

a.nav-item.nav-link.active{
    color: #000000;
}

.regAndLog {
    font-size: 1.25em;
}

button.navbar-toggler:focus,button.navbar-toggler:active  {
    outline: none;
    box-shadow: none;
}

.mainContainer{
    background-color: white;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.modal-footer button{
    font-size: 1em;
}

.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }