html{
    font-size: 10px;
}

body {
    font-size: 16px;
    background-color:rgba(245,255,207,0.84);
    /*color: #757575;*/
}

nav {
    z-index: 100;
}

.menuButtonImg{
    height: 2.5rem;
}

.navbar-Button-lr {
    background-color: purple;
    color: white;
    outline: purple;
    box-shadow: none;
}

.navbar-Button-lr:active, .navbar-Button-lr:focus, .navbar-Button-lr:hover {
    background-color: #5d005d;
}

.navbar-Button-lr-outline:active,.navbar-Button-lr-outline:hover,.navbar-Button-lr-outline:focus{
    background-color: #5d005d;
    color: white;
}


.gradient {
    display: block;
    background-image: linear-gradient(to bottom, black 0%, transparent 100%);
    background-size: cover;
    background-position: center;
}


a.nav-item.nav-link {
    font-size: 15px;
    font-weight: bold;
    color: #ececec;
}

a.nav-item.nav-link.active{
    color: #ffffff;
}

.regAndLog {
    font-size: 1.25em;
}

button.navbar-toggler:focus,button.navbar-toggler:active  {
    outline: none;
    box-shadow: none;
}

.mainContainer{
    background-color: white;
    border-radius: 0.5rem;
    padding-left: 0.5rem;
}

.modal-footer button{
    font-size: 1em;
}

.top-carousel{
    /*position: absolute;*/
}

.footp{
    color: #90a3ff;
}

.footer{
    background-color: #3F51B5;
    min-height: 50px;
}

.img-direction{
    height: 25rem;
    width: auto;
}

h2 {
    color: #333333;
}

#Courses {
    font-size: 4rem;
    position: relative;
    z-index: 4000;

}
.enterToTheCourses {
    z-index: 20;
}

#MainContent{
    background-color: #f5ffcf;
}
.dark-primary-color    { background: #303F9F; }
.default-primary-color { background: #3F51B5; }
.light-primary-color   { background: #C5CAE9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #03A9F4; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

